bdev_wals_create -n Wals1 -m cli --blocklen 512 --slice-blockcnt 2097152 --buffer-blockcnt 2097152 --write-lcore 0 --read-lcore 2 --slices '[
{%- for remote_ip in data_nodes -%}
    {"log": {"address": "{{ remote_ip }}", "port": 8000, "nqn": "10"}, "core": {"address": "{{ remote_ip }}", "port": 4420, "nqn": "nqn.2016-06.io.spdk:cnode1"}}
    {%- if not loop.last -%},{%- endif -%}
{%- endfor -%}]'
nvmf_create_transport -t RDMA
nvmf_create_subsystem nqn.2016-06.io.spdk:cnode1 -a -s SPDK00000000000001 -d SPDK_Controller1
nvmf_subsystem_add_ns nqn.2016-06.io.spdk:cnode1 Malloc0
nvmf_subsystem_add_listener nqn.2016-06.io.spdk:cnode1 -t rdma -a {{ local_ip }} -s 4421
